.map {
    position: absolute;
    top: 0px;
    left: 0px;
}

.labels {
     color: white;
     text-align: center;
     white-space: nowrap;
}

body {
  color: black;
  text-align:center;
  font-family: arial;
  font-size: small;
}

.bottom {
    position: absolute;
    bottom: 0px;
    left: 90px;
}

.popa {
    width: 70px;
}

.finavia {
    height: 36px;
    background-color: #f3f4f4;
}

.playsign {
    height: 36px;
}

.top {
    position: absolute;
    top: 0px;
    left: 90px;
}

.navigation {
    position: relative;
}

.nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    float: left;
    width: 160px;
    position: relative;
}

.nav li a {
    background: white;
    color: black;
    display: block;
    padding: 7px 8px;
    text-decoration: none;
}

/*.nav li a:hover {
    color: #069;
}*/

.nav .boutiques {
    color: #fb177f;
}

.nav .restaurants {
    color: #1450fb;
}

.nav .bars {
    color: #ec7c22;
}

.nav .galleries {
    color: #1AA07E;
}


/*=== submenu ===*/

.nav ul {
    display: none;
    position: absolute;
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

.nav ul li {
    width: 160px;
    float: left;
}

.boutiques li {
    border-top: 1px solid #fb177f;
}

.restaurants li {
    border-top: 1px solid #1450fb;
}

.bars li {
    border-top: 1px solid #ec7c22;
}

.galleries li {
    border-top: 1px solid #1AA07E;
}

.nav ul a {
    display: block;
    /*height: 15px;*/
    padding: 7px 8px;
    color: black;
    text-decoration: none;
    border: none;
}

.nav ul li a:hover {
    color: #069;
}
